* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(28, 28, 29);
    color:bisque;
}

#root {
    position: relative;
    min-height: 100vh;
    margin: 1rem 6rem;
}

header{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
nav span {
    justify-self: center;
    align-self: center;
}
footer {
    position: absolute;
    bottom: 0;
    height: 2.5rem; 
    width: 100%;
    text-align: center;
}

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    column-gap: 2rem;
    row-gap: 2rem;
    margin-top: 2rem;
}
.color-palette {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    min-width: 300px;
    height: 100px;
    border: 2px solid white;
}

#add-popup {
    position: absolute;
    top: 5%;
    width: 75%;
    left: 12.5%;
    padding: 1rem;
    background-color: rgb(63, 63, 66);
    border: 3px solid aliceblue;
    text-align: center;
    z-index: 2;
}

.palette-container {
    position: relative;
    
}
.delete-btn {
    position: absolute;
    top: -0.33rem;
    right: -0.25rem;
    color: rgb(63, 63, 66);
    background-color: aliceblue;
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    /* display: none; */
}